<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Finance Bot Apps</title>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/login.js"></script>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/login.css">

</head>
<body>
    <header>
        <div class="row">
            <div class="header">
                Finance Bot App
            </div>
        </div>
    </header>
    <div class="container main-content">
        <div class="row">
            <h4>Login with your Buxfer Account</h4>
            <p>Don't worry, we don't store your User ID and Password in here</p>
        </div>
        <div class="row">
            <div>
                <form id="buxferLoginForm">
                    <div class="row">
                        <label for="username">Username</label>
                        <input class="u-full-width" id="buxferUsername" name="username" type="text" required/>
                    </div>

                    <div class="row">
                        <label for="password">Password</label>
                        <input class="u-full-width" id="buxferPassword" name="password" type="password" required/>
                    </div>

                    <input class="button-primary" type="submit" value="Submit"/>
                </form>

            </div>
        </div>
    </div>

</body>
</html>


